<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <title>Sistema Supermercado</title>
</head>
<body>
    <h1>Buscar Cliente</h1>
    <form action="/buscar" method="get">
        <label>CPF:</label>
        <input type="text" name="cpf"><br>
        <button type="submit">Buscar</button>
    </form>
    <form action="cadastrar">
        <button type="submit">Cadastrar outro cliente</button>
    </form>

    <!-- Exibir informações do cliente, se encontrado -->
    <div th:if="${cliente}">
        <table border="1">
            <h2>Informações do Cliente</h2>
            <tr>
                <td>Nome</td>
                <td>CPF</td>
                <td>Celular</td>
                <td>Email</td>
            </tr>
            <tr>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td th:text="${cliente.telefone}"></td>
                <td th:text="${cliente.email}"></td>
            </tr>
        </table>
    </div>

</body>
</html>