<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrar Cliente</h1>
    <form action="/cadastrar" method="post">
        <label>Nome:</label>
        <input type="text" name="nome"><br>
        <label>CPF:</label>
        <input type="text" name="cpf"><br>
        <label>Telefone:</label>
        <input type="text" name="telefone"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>